<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ character.name }}'s Profile # {{ character.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <img [src]="character.image" class="img">
      <ion-card-title>{{ character.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Status</ion-label>
          <ion-chip color="primary">{{ character.status }}</ion-chip> 
        </ion-item>
        <ion-item>
          <ion-label>Species</ion-label>
          <ion-chip color="primary">{{ character.species }}</ion-chip> 
        </ion-item>
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-chip color="primary">{{ character.gender }}</ion-chip> 
        </ion-item>
        <ion-item *ngIf="character.type">
          <ion-label>Type</ion-label>
          <ion-chip color="primary">{{ character.type }}</ion-chip> 
        </ion-item>
      </ion-list>
     
    </ion-card-content>
  </ion-card>

</ion-content>
