<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ (character | async)?.id }}'s Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card>
    <ion-card-header>
      <img [src]="(character | async)?.image">
      <ion-card-title>{{ (character | async)?.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Status</ion-label>
          <ion-chip color="primary">{{ (character | async)?.status }}</ion-chip> 
        </ion-item>
        <ion-item>
          <ion-label>Species</ion-label>
          <ion-chip color="primary">{{ (character | async)?.species }}</ion-chip> 
        </ion-item>
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-chip color="primary">{{ (character | async)?.gender }}</ion-chip> 
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
